.title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin-left: 20px;
    background-color:#bbdeed;
    padding-left: 230px;
    margin-right: 20px;
    max-width:100%;
    
}



.text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-left: 250px;
    margin-right: 250px;
}
img{
    float:right;
    max-height: 180px;
    margin-right: 250px;
    margin-top: 3px;
    
}
.buttons{
text-align: center;

}
code{
    border-style: solid;
    border-width: 1px;
    color:dimgray;
    background-color:#bbdeed;
}
pre{
    border-style:solid;
    border-width: 1px;
    color:dimgray;
    background-color:#bbdeed;
}
p.lastline{
    text-align: center;
}
a{
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.test{
    text-align:center;
}
.test{
   width: 84.5%
}
